final/Images/cat.png
final/Images/cat2.jpeg
final/Images/CFL PL.PNG
final/Images/CFL PL2.PNG
final/Images/CFL PL3.PNG
final/Images/dog1.jpeg
final/Images/dog2.png
final/Images/dog3.jpeg
graded/final.pdf
graded/hw1.pdf
graded/hw2.pdf
graded/hw3.pdf
graded/hw4.pdf
graded/hw5.pdf
graded/midterm.pdf
Images/bone.PNG
Images/doggo_leaping.jpg
Images/doggo_sitting_good_boy.jpg
Images/doggo_with_zero.jpg
Images/doggo.jpg
Images/doggo2.jpg
Images/fetch_pda1.PNG
Images/fetch_pda2.PNG
Images/fetch_pda3.PNG
Images/throw1.PNG
Images/throw2.PNG
Images/throw3.PNG
Midterm/1a.jpg
Midterm/2a.jpg
Midterm/2c.jpg
Midterm/2d.jpg
Midterm/ec.jpg
Midterm/honor code.jpg
ungraded/181_final.pdf
ungraded/181_hw1.pdf
ungraded/181_hw2.pdf
ungraded/181_hw3.pdf
ungraded/181_hw4.pdf
ungraded/181_hw5.pdf
ungraded/181_midterm (1).pdf
ungraded/181_midterm.pdf
ungraded/CS181-honor.pdf
hw3.tex
midterm_w21.tex
midterm_w21.zip
final/final.tex
final.zip
Homework 1.tex
